<%- include('../partials/Header.ejs') %>
<%- include('../partials/Site_Header.ejs') %>
<section id="add-sec">
<div class="container">
    <div class="row">

            <form class="form" method="POST">
                <div class="form-elements">
                    <label for="Name">Name</label>
                    <input type="text" class="elements" id="Name" placeholder="Enter task's name" name="Name" value="<%= prof.Name%>" required>
                </div>
                <div class="form-elements">
                    <label for="Priority">Priority</label>
                    <input type="text" class="elements" id="Priority" placeholder="Enter task priority" name="Priority" value="<%= prof.Priority%>" required>
                </div>
                <div class="form-elements">
                    <label for="Notes">Notes</label>
                    <input type="text" class="elements" id="Notes" placeholder="Enter task notes" name="Notes" value="<%= prof.Notes%>" required>
                </div>
                <button class="btn" type="submit">Submit</button>
                <button type = "button" onclick="window.location.href='/proflist'" class="btn">Cancel</button>
            </form>
        </div>
    </div>
</div>
</section>

<%- include('../partials/Site-Footer.ejs') %>
<%- include('../partials/Footer.ejs') %>